@media screen and (min-width: 320px) and (max-width: 768px) {

  #toggle-darkmode {
    display: grid;
    grid-template-columns: auto;
     margin-right: 1rem;
}

  header {
    flex-direction: column;
    gap: .75rem;
    padding: 1rem 1rem 1.2rem;

    .logo { 
      margin-inline: auto;

    }
  }

  #hero {
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    gap: 1rem;

    article {
      grid-row: 2;
      align-items: center;
      margin: 0 auto;
      text-align: center;

      p { 
        margin: 0;
      }

      .emphasis { font-weight: 600; 

      }
    }

    .menu { text-align: center; }
    img { width: min(75%, 400px); 
      height: auto; 
      display: inline-block; }
  }

  .sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1.25rem;

    > p { font-size: 1rem; line-height: 1.6; margin: 0; }
    .title {
      font-weight: 800;
      margin: 0;
    }
  }

  .history {
    padding-inline: 1rem;

    h2 {
            font-size: 2.7rem !important;
    }
  
    .me { 
      width: 90% !important;
      }
    .me > p, ul > li { 
      font-size: .95rem; 
      margin: .25rem 0; 
    }
  }

  #skills {
    gap: 1rem;
    padding-top: 3rem;
    margin-bottom: 0;
    flex-basis: auto;

    h2.skills1 {
    grid-column-start: 2;
    grid-row-start: auto; 

  }

    
 
}

  h3 {
    text-align: center;
  }

  .skill-area { 
    flex-direction: row;
    gap: 0;
    grid-row-start: auto; 
    grid-column-start: 2;
    text-align: center;
   
  }

  ul.listS { 
    padding-left: 1rem;
     grid-row-start: auto;  

   
 }
  ul.listS > li { 
  font-size: 1rem;
  grid-row: auto;

}

article.contatos {
  margin-top: 3rem;
}

  .contatos {

    img.imgc {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        gap: 2rem;
    }


  }

  footer {
    padding-top: 0.5rem;
  }

}