@charset "UTF-8";

/*VERSÃO PARA PC - COMPUTADOR*/

/*Irá zerar as margins e paddins*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#toggle-darkmode {
    background-color: var(--title-color);
    color: var(--background-color);
    
}

/*Variaveis para modo claro*/

:root {
  --background-color: #F9FAFC; 
  --title-color: #14171F; 
  --primary-color: #004D99; 
  --second-color: #00A693; 
  --cards-color: #FFFFFF; 
}
/* Variáveis CSS para o modo escuro */

.dark-mode {
  --background-color: #121212; 
  --title-color: #F1F1F1; 
  --primary-color: #4D92F0; 
  --second-color: #3AD0B3; 
  --cards-color: #1C1C1C;
}


body {
    background-color: var(--background-color);
    color: var(--title-color);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;

    .emphasis {
    color: var(--primary-color);
    font-weight: 900;
}

 h2 {
    color: var(--primary-color);
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 3rem;;
    margin-bottom: 2rem;
  }

  button {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem;
    transition:  background-color 0.3s ease;


    &.primary {
        background-color: var(--second-color);
        border: var(--primary-color);
        color: var(--title-color);
    }

    &.outline {
        background-color: var(--second-color);
        border: var(--primary-color);
        color: var(--title-color);
    }

    &:hover{
        background-color: var(--title-color);
        border: var(--cards-color);
        color: var(--background-color)
    }

  }


header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.25rem;

    margin-bottom: 0.938rem;

    .logo > img {
        height: 5rem;
        margin: 1.5rem 0;
        border-radius: 50%;        
    }

    #toggle-darkmode{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;       
    }

    nav {
        font-size: 1.125rem;
        flex: 1;

        ul {
            display: flex;
            gap: 1.25rem;
            justify-content: center;
            cursor: pointer;

            li {
                font-weight: 500;

                &:hover {
                    color: var(--second-color);
                }
            }

        }

    }
    
}

#hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-items: center;

    margin-bottom: 2.25rem;

    article { display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        >p {
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
             
        .title {
            color: var(--title-color);
            font-size: 5.5rem;
            font-weight: bolder;
            line-height: 3.5rem;
        }
    }

    .menu {
        display: flex; 
        gap: 0.625rem;
    }
    
    #frame {
        align-items: center;
        border: 3px solid var(--primary-color);
        display: flex;
        border-radius: 50%;
        justify-content: center;
        width: 340px;
        height: 340px;
        
        img {
            width: 80%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
            border: 5px solid var(--second-color);
            }
        }
    }
    
.history {
        display: grid;
        text-indent: 1.25rem;

    .me {
        width: 80%;
        margin: auto;
        text-indent: 1.7rem;
        text-align: justify;
    }

    .me > p, ul > li {
        font-size: 1.3rem;
        text-indent: 1.3rem;
    }

        h2 {
            text-align: center;
        }
        
    }  

    article#skills {
        padding-left: 1rem;
        
        
    }
           #skills {
            display: grid;
            grid-template-columns: repeat(3, 3fr);
           text-align: center;
            padding-top: 4rem;
            font-size: 1.3rem;

            h2.skills1 {
                margin: auto;
              
            }

           }
        
        

        h3 {
            color: var(--primary-color);
            text-align: center;
        }

     

    .skill-area {
            padding: 20px 0 ;
            order: 1/ 2 / 2 /2;
    }

   ul.listS > li {
            list-style: disc;
            list-style-position: inside;
            color: var(--title-color);
        }
    

}


.contatos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 4rem;

        img {
            color: var(--title-color);
            background-color: var(--background-color);
        }
    }


footer {
text-align: center;

font-size: 0.8rem;
color: var(--title-color);

}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover, a:visited, a:active {
    text-decoration: none;
} 

